@import '../../vars.scss';
@import '../../layout.scss';

.page-Home {
  background: $color-prim;
  min-height: 100%;
  width: 100%;

  &__header {
    padding: $padding-md;
    background: $mono-darkless;
    color: $mono-lightless;
    text-align: center;
    position: fixed;
    border-bottom-right-radius: 3px;
  }

  &__post {
    height: 110px;
    width: 100%;
    background: $grad-prim;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $mono-darkless;
    cursor: pointer;
    transition: all $time-md;

    &.--selected {
      background: $color-sec-dark;
      &:hover {
        background: $color-sec-dark;
      }
    }

    &:hover {
      background: $color-prim;
    }

    &__info {
      display: block;
      max-width: 800px;
      // background: red;
    }
  }


}
