@import '../../vars.scss';
@import '../../layout.scss';

.page-Home {
  // background: $color-prim-dark;
  // position: relative;
  // z-index: -10;
  min-height: 100%;
  width: 100%;
  overflow-x: hidden;

  &:before {
    content: attr(background-text);
    color: $color-prim;
    background: $color-prim-dark;
    font-weight: bolder;
    display: inline-block;
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
    position: absolute;
    letter-spacing: -2.4vw;
    line-height: 60vw;
    font-size: 31vw;
    text-align: left;
    z-index: -5;
    pointer-events: none;
  }

  &__container {
    @extend .container;
    padding: $padding-lg 0;
    // padding-top: 50vh;
    // height: 200vh;
    display: flex;  // build layout with flex
    flex-direction: row;
    flex-wrap: wrap;  // by wrapping articles into roughly rows of 2
    justify-content: center; // justify them to center
    align-content: flex-start;
    position: relative;
    z-index: 5;

    &__section {
      padding: $padding-lg;

      &__post {
        height: 220px;
        width: 220px;
        background: $color-sec;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        color: $mono-darkless;
        cursor: pointer;
        transition: all $time-md;

        &:hover {
          background: $color-sec-dark;
          transform: scale(1.01);
        }
      }

    }
  }

}
