@import '../../layout.scss';
@import '../../vars.scss';

.page-Song {
  min-height: 100%;
  background: $color-prim-dark;

  &__container {
    @extend .container;

    &__title {
      & h1 {
        font-size: 250px;
        letter-spacing: -15px;
        line-height: 230px;
      }
      & h2 {
        font-size: 27px;
      }
    }
    &__actions {

    }
    &__comments {
      padding: $padding-lg 0;

      &__comment {
        background: white;
      }
    }
    &__info {

    }
  }
}
