@import url('https://fonts.googleapis.com/css?family=Montserrat|Slabo+27px');

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
:root {
  box-sizing: border-box;
}

// restyle hyperlinks
a {
  color: inherit;
  &:visited {
    color: inherit;
  }
  &:hover {
    text-decoration: none;
  }
}

// reset fonts
h1, h2, h3, h4, h5, h6, p, a {
  font-family: 'Montserrat', sans-serif;
  // font-family: 'Slabo 27px', serif;
  font-weight: normal;
  color: inherit;
}

// fit images and videos
img, video {
  width: 100%;
  height: auto;
  display: block;
}

// set selection color (nice if gradient, but kay)
::selection {
  background: $color-sec;
  color: $mono-darker;
}
