* {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

:root {
  box-sizing: border-box; }

a {
  color: inherit; }
  a:visited {
    color: inherit; }
  a:hover {
    text-decoration: none; }

h1, h2, h3, h4, h5, h6, p, a {
  font-family: 'Montserrat', sans-serif;
  font-weight: normal;
  color: inherit; }

h1, h2, h3 {
  font-family: 'Montserrat Black', sans-serif; }

p {
  font-size: 15px;
  line-height: 23px; }

img, video {
  width: 100%;
  height: auto;
  display: block; }

input {
  font-family: 'Montserrat', sans-serif;
  color: inherit;
  background: none;
  border: none; }

::selection {
  opacity: 1;
  background: #f5d76e;
  color: #212323; }

.--bttn, .profile__picture, .gallery__controls__panel__option, .gallery__container__comments__panel__add-comment > button, .post__head__actions__action, .post__content, .post__meta__tags__tag, button {
  background: none;
  border: none;
  cursor: pointer;
  display: block;
  text-decoration: none; }
  .--bttn.--tag, .--tag.profile__picture, .--tag.gallery__controls__panel__option, .gallery__container__comments__panel__add-comment > button.--tag, .gallery__container__comments__panel__add-comment > button.post__meta__tags__tag, .--tag.post__head__actions__action, .--tag.post__content, .post__meta__tags__tag, button.--tag, button.post__meta__tags__tag {
    display: inline;
    font-size: 14px;
    padding: 5.5px;
    border-radius: 3px;
    transition: all 0.15s; }
    .--bttn.--tag:before, .--tag.profile__picture:before, .--tag.gallery__controls__panel__option:before, .gallery__container__comments__panel__add-comment > button.--tag:before, .--tag.post__head__actions__action:before, .--tag.post__content:before, .post__meta__tags__tag:before, button.--tag:before, button.post__meta__tags__tag:before {
      content: "#"; }
    .--bttn.--tag:hover, .--tag.profile__picture:hover, .--tag.gallery__controls__panel__option:hover, .gallery__container__comments__panel__add-comment > button.--tag:hover, .--tag.post__head__actions__action:hover, .--tag.post__content:hover, .post__meta__tags__tag:hover, button.--tag:hover, button.post__meta__tags__tag:hover {
      background: #f57064; }
  .--bttn.--prim, .--prim.profile__picture, .--prim.gallery__controls__panel__option, .gallery__container__comments__panel__add-comment > button, .--prim.post__head__actions__action, .--prim.post__content, .--prim.post__meta__tags__tag, button.--prim, .gallery__container__comments__panel__add-comment > button {
    background: #dadada;
    color: #343737;
    padding: 9.5px 13px;
    border-radius: 3px;
    transition: all 0.15s; }
    .--bttn.--prim:hover, .--prim.profile__picture:hover, .--prim.gallery__controls__panel__option:hover, .gallery__container__comments__panel__add-comment > button:hover, .--prim.post__head__actions__action:hover, .--prim.post__content:hover, .--prim.post__meta__tags__tag:hover, button.--prim:hover, .gallery__container__comments__panel__add-comment > button:hover {
      background: #f57064;
      color: #dadada; }

.--container, .gallery__container {
  max-width: 900px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  background: rgba(110, 110, 110, 0.5); }

.profile {
  text-decoration: none;
  color: inherit; }
  .profile__picture {
    width: 45px;
    height: 45px;
    border-radius: 45px;
    overflow: hidden;
    margin-right: 9.5px; }

.--layout.--sidebar, .--sidebar.profile, .--sidebar.gallery__container__comments__panel__add-comment, .--sidebar.post__head, .--sidebar.post__meta {
  display: grid;
  grid-template-columns: 70px auto;
  grid-template-rows: 100vh; }
  .--layout.--sidebar > *:nth-child(1), .--sidebar.profile > *:nth-child(1), .--sidebar.gallery__container__comments__panel__add-comment > *:nth-child(1), .--sidebar.post__head > *:nth-child(1), .--sidebar.post__meta > *:nth-child(1) {
    grid-column: 1; }
  .--layout.--sidebar > *:nth-child(2), .--sidebar.profile > *:nth-child(2), .--sidebar.gallery__container__comments__panel__add-comment > *:nth-child(2), .--sidebar.post__head > *:nth-child(2), .--sidebar.post__meta > *:nth-child(2) {
    grid-column: 2; }
.--layout.--large-left, .--large-left.profile, .gallery__container__comments__panel__add-comment, .post__head, .post__meta {
  display: flex;
  flex-direction: row;
  align-items: center; }
  .--layout.--large-left > *:nth-child(1), .--large-left.profile > *:nth-child(1), .profile.gallery__container__comments__panel__add-comment > *:nth-child(1), .profile.post__head > *:nth-child(1), .profile.post__meta > *:nth-child(1), .gallery__container__comments__panel__add-comment > *:nth-child(1), .post__head > *:nth-child(1), .post__meta > *:nth-child(1) {
    flex: 1; }
.--layout.--large-right, .profile, .nav .nav__slider, .--large-right.gallery__container__comments__panel__add-comment, .--large-right.post__head, .--large-right.post__meta {
  display: flex;
  flex-direction: row;
  align-items: center; }
  .--layout.--large-right > *:nth-child(2), .profile > *:nth-child(2), .nav .nav__slider > *:nth-child(2), .--large-right.gallery__container__comments__panel__add-comment > *:nth-child(2), .gallery__container__comments__panel__add-comment.profile > *:nth-child(2), .--large-right.post__head > *:nth-child(2), .post__head.profile > *:nth-child(2), .--large-right.post__meta > *:nth-child(2), .post__meta.profile > *:nth-child(2) {
    flex: 1; }

.nav {
  background: #f57064;
  height: 100vh;
  width: 70px; }
  .nav .nav__slider {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 10;
    flex-direction: column; }

.gallery {
  background: #212323;
  display: grid;
  grid-template-rows: 100vh;
  grid-template-columns: 3fr auto 2fr; }
  .gallery__controls {
    height: 100vh;
    grid-column: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; }
    .gallery__controls__panel {
      padding: 5.5px;
      position: fixed; }
      .gallery__controls__panel__option {
        font-size: 15px;
        text-align: right;
        padding: 5.5px;
        border-top-left-radius: 3px;
        border-bottom-left-radius: 3px;
        border-right: 3px solid transparent;
        border-left: 3px solid transparent;
        transition: all 0.15s; }
        .gallery__controls__panel__option:hover {
          background: #f57064; }
        .gallery__controls__panel__option.--active {
          border-right-color: #f57064; }
  .gallery__container {
    width: 900px;
    display: grid;
    grid-template-columns: 3fr 2fr;
    grid-gap: 23px;
    background: none; }
    .gallery__container__posts {
      min-height: 100vh; }
      .gallery__container__posts__new-post {
        padding: 9.5px;
        margin: 5.5px 0;
        display: block;
        text-align: center;
        margin-top: 5.5px;
        line-height: 40px; }
    .gallery__container__comments {
      width: 100%; }
      .gallery__container__comments__panel {
        display: inline-block;
        position: fixed;
        overflow: auto;
        padding-right: 9.5px;
        width: 350.8px;
        height: 100vh; }
        .gallery__container__comments__panel__add-comment > input {
          padding: 5.5px 5.5px 5.5px 0; }

.post {
  padding: 9.5px;
  background: #343737;
  margin: 5.5px 0;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24); }
  .post__head {
    width: 100%;
    margin: 9.5px 0; }
    .post__head__actions {
      display: flex; }
      .post__head__actions__action {
        color: #dadada;
        padding: 9.5px;
        border-radius: 1000px;
        transition: all 0.15s; }
        .post__head__actions__action:hover {
          background: #f57064; }
        .post__head__actions__action.fa-heart.--active {
          color: #f57064; }
          .post__head__actions__action.fa-heart.--active:hover {
            background: #f57064;
            color: #dadada; }
  .post__content {
    display: block;
    margin: 9.5px 0;
    padding: 9.5px 0;
    overflow: hidden;
    border-radius: 3px;
    line-height: 26px; }
  .post__meta__stats {
    display: flex; }
    .post__meta__stats__stat {
      padding: 5.5px; }
  .post.--active:before {
    content: "";
    display: block;
    float: right;
    position: absolute;
    margin-top: 80px;
    margin-left: 504.7px;
    width: 0;
    height: 0;
    box-sizing: content-box;
    border: 18px solid transparent;
    border-right-color: #343737;
    z-index: 10; }

.comment, .gallery__container__comments__panel__add-comment {
  margin-top: 5.5px;
  padding: 18px;
  background: #343737; }
  .comment__user {
    display: block;
    padding: 5.5px 0;
    font-size: 13px; }
  .comment:last-of-type, .gallery__container__comments__panel__add-comment:last-of-type {
    margin-bottom: 5.5px; }

body {
  min-height: 100vh;
  background: #f5d76e; }

/*# sourceMappingURL=style.css.map */
