* {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

:root {
  box-sizing: border-box;
  color: #343737;
  overflow-x: hidden; }

a {
  color: inherit; }
  a:visited {
    color: inherit; }
  a:hover {
    text-decoration: none; }

h1, h2, h3, h4, h5, h6, p, a {
  font-family: 'Montserrat', sans-serif;
  font-weight: normal;
  color: inherit; }

h1, h2, h3 {
  font-family: 'Montserrat Black', sans-serif; }

p {
  font-size: 15px;
  line-height: 23px; }

img, video {
  width: 100%;
  height: auto;
  display: block; }

input {
  font-family: 'Montserrat', sans-serif;
  color: inherit;
  background: none;
  border: none; }

::selection {
  opacity: 1;
  background: #f5d76e;
  color: #212323; }

.--bttn, .profile__picture, .nav__wrapper__top > i, .nav__wrapper__bottom > i, .nav__wrapper__bottom__userimg > img, .slider__controls__arrow, .post__action__bar__icon, .post__meta__wrapper__head__img, .post__meta__wrapper__content > a, button {
  background: none;
  border: none;
  cursor: pointer;
  display: block;
  text-decoration: none;
  transition: all 0.17s; }
  .--bttn.--nav, .--nav.profile__picture, .nav__wrapper__top > i, .nav__wrapper__bottom > i, .nav__wrapper__bottom__userimg > img.--nav, .nav__wrapper__bottom__userimg > img.post__action__bar__icon, .--nav.slider__controls__arrow, .post__action__bar__icon, .--nav.post__meta__wrapper__head__img, .post__meta__wrapper__content > a.--nav, .post__meta__wrapper__content > a.post__action__bar__icon, button.--nav, button.post__action__bar__icon {
    font-size: 25px;
    padding: 38px; }
    .--bttn.--nav:hover, .--nav.profile__picture:hover, .nav__wrapper__top > i:hover, .nav__wrapper__bottom > i:hover, .nav__wrapper__bottom__userimg > img.--nav:hover, .--nav.slider__controls__arrow:hover, .post__action__bar__icon:hover, .--nav.post__meta__wrapper__head__img:hover, .post__meta__wrapper__content > a.--nav:hover, button.--nav:hover, button.post__action__bar__icon:hover {
      color: #f57064; }
  .--bttn.--hover-shadow, .--hover-shadow.profile__picture, .nav__wrapper__top > i.--hover-shadow, .nav__wrapper__bottom > i.--hover-shadow, .nav__wrapper__bottom__userimg > img, .--hover-shadow.slider__controls__arrow, .--hover-shadow.post__action__bar__icon, .--hover-shadow.post__meta__wrapper__head__img, .post__meta__wrapper__content > a.--hover-shadow, button.--hover-shadow {
    box-shadow: 0px 0px 0px 0px rgba(110, 110, 110, 0.5); }
    .--bttn.--hover-shadow:hover, .--hover-shadow.profile__picture:hover, .nav__wrapper__top > i.--hover-shadow:hover, .nav__wrapper__bottom > i.--hover-shadow:hover, .nav__wrapper__bottom__userimg > img:hover, .--hover-shadow.slider__controls__arrow:hover, .--hover-shadow.post__action__bar__icon:hover, .--hover-shadow.post__meta__wrapper__head__img:hover, .post__meta__wrapper__content > a.--hover-shadow:hover, button.--hover-shadow:hover {
      box-shadow: 0px 0px 0px 14px rgba(110, 110, 110, 0.5); }

.--container {
  max-width: 1200px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  background: rgba(110, 110, 110, 0.5); }

.profile {
  text-decoration: none;
  color: inherit; }
  .profile__picture {
    width: 45px;
    height: 45px;
    border-radius: 45px;
    overflow: hidden;
    margin-right: 14px; }

.--layout.--large-left, .--large-left.profile, .--large-left.post__meta__wrapper__head {
  display: flex;
  flex-direction: row;
  align-items: center; }
  .--layout.--large-left > *:nth-child(1), .--large-left.profile > *:nth-child(1), .--large-left.post__meta__wrapper__head > *:nth-child(1) {
    flex: 1; }
.--layout.--large-right, .profile, .nav__wrapper, .post__meta__wrapper__head {
  display: flex;
  flex-direction: row;
  align-items: center; }
  .--layout.--large-right > *:nth-child(2), .profile > *:nth-child(2), .nav__wrapper > *:nth-child(2), .post__meta__wrapper__head > *:nth-child(2) {
    flex: 1; }

.nav {
  height: 100vh;
  width: auto;
  display: inline-block;
  position: fixed;
  right: 0;
  pointer-events: none;
  z-index: 10; }
  .nav__wrapper {
    height: 100vh;
    width: auto;
    flex-direction: column;
    align-items: flex-end; }
    .nav__wrapper__top {
      display: flex;
      flex-direction: row;
      padding-right: 20px;
      pointer-events: all; }
      .nav__wrapper__top > i {
        color: #343737; }
    .nav__wrapper__bottom {
      background: #343737;
      border-top-left-radius: 33px;
      overflow: hidden;
      display: flex;
      flex-direction: row;
      padding: 0 20px;
      pointer-events: all; }
      .nav__wrapper__bottom > i {
        color: #dadada; }
      .nav__wrapper__bottom__userimg {
        box-sizing: content-box;
        padding: 26px;
        width: 49px; }
        .nav__wrapper__bottom__userimg > img {
          border-radius: 17px;
          overflow: hidden; }

.slider {
  min-height: 100vh;
  width: 100vw;
  overflow: hidden; }
  .slider__controls {
    height: 0;
    width: 0; }
    .slider__controls__arrow {
      position: fixed;
      z-index: 8;
      top: 0;
      height: 100vh;
      display: flex;
      flex: column;
      justify-content: center;
      align-items: center; }
      .slider__controls__arrow > i {
        font-size: 28px;
        padding: 14px;
        margin-bottom: 38px;
        width: 56px;
        text-align: center;
        transition: all 0.17s; }
      .slider__controls__arrow:hover > i {
        color: #f57064;
        transform: scale(1.1); }
      .slider__controls__arrow.--left {
        left: 0; }
      .slider__controls__arrow.--right {
        right: 0; }
  .slider__slides {
    width: 300vw;
    overflow-x: hidden;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(3, 100vw);
    transition: all 0.5s; }
    .slider__slides__single-slide {
      display: block;
      padding-left: 70px;
      padding-right: 84px; }

.post {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  display: grid;
  grid-template-columns: 15fr auto 1fr auto; }
  .post__content {
    grid-column: 1;
    margin-top: 38px;
    overflow: hidden;
    border-radius: 33px 33px 0 33px;
    box-shadow: -10px 10px 0 1px rgba(33, 35, 35, 0.1), -17px 17px 0 1px rgba(33, 35, 35, 0.1); }
  .post__action {
    grid-column: 2;
    display: flex;
    flex-direction: column;
    justify-content: flex-end; }
    .post__action__bar {
      padding: 5.5px 0;
      background: #343737;
      border-radius: 0 33px 33px 0;
      box-shadow: -10px 10px 0 1px rgba(33, 35, 35, 0.1), -17px 17px 0 1px rgba(33, 35, 35, 0.1); }
      .post__action__bar__icon {
        padding: 33px;
        color: #dadada; }
  .post__meta {
    grid-column: 4;
    min-height: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: center; }
    .post__meta__wrapper {
      width: 250px;
      padding: 0 5.5px; }
      .post__meta__wrapper__head {
        padding: 5.5px 0;
        text-decoration: none; }
        .post__meta__wrapper__head__img {
          box-shadow: -6px 6px 0 1px rgba(33, 35, 35, 0.1);
          width: 60px;
          border-radius: 17px;
          overflow: hidden; }
        .post__meta__wrapper__head__title {
          padding: 0 14px; }
      .post__meta__wrapper__content {
        padding: 14px 0; }
        .post__meta__wrapper__content > a {
          display: inline-block;
          padding: 5.5px 14px;
          font-size: 13px;
          margin: 5.5px;
          margin-left: 0;
          background: #DFC464;
          border-radius: 11px; }
          .post__meta__wrapper__content > a:before {
            content: "#"; }
          .post__meta__wrapper__content > a:hover {
            background: #f57064;
            color: #dadada; }

.comment {
  margin-top: 5.5px;
  padding: 38px;
  background: #343737; }
  .comment__user {
    display: block;
    padding: 5.5px 0;
    font-size: 13px; }
  .comment:last-of-type {
    margin-bottom: 5.5px; }

body {
  min-height: 100vh;
  background: #f5d76e; }

/*# sourceMappingURL=style.css.map */
