@import url("https://fonts.googleapis.com/css?family=Montserrat|Slabo+27px");
* {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

:root {
  box-sizing: border-box; }

a {
  color: inherit; }
  a:visited {
    color: inherit; }
  a:hover {
    text-decoration: none; }

img, video {
  width: 100%;
  height: auto;
  display: block; }

h1, h2, h3, h4, h5, h6, p, a {
  font-family: 'Montserrat', sans-serif;
  font-weight: normal; }

h6 {
  font-size: 10px;
  opacity: .8; }

button, .bttn, .bttn--round, .profile__picture, .nav__notification, .nav__profile, .post__meta__tags > *, .bttn--tag, .post__content--text__tag, .nav__searchbar__search, .post__head__like, .new-note__message {
  cursor: pointer;
  border: none;
  background: none; }

.bttn--round, .profile__picture, .nav__notification, .nav__profile, .post__meta__tags > * {
  height: 40px;
  min-width: 40px;
  border-radius: 20px;
  background: whitesmoke;
  display: flex;
  justify-content: center;
  align-items: center; }

.bttn--tag, .post__content--text__tag, .post__meta__tags > * {
  display: inline;
  text-decoration: underline; }
  .bttn--tag:before, .post__content--text__tag:before, .post__meta__tags > :before {
    content: "#"; }
  .bttn--tag:hover, .post__content--text__tag:hover, .post__meta__tags > :hover {
    text-decoration: none; }

.container {
  max-width: 850px;
  margin-left: auto;
  margin-right: auto; }
  .container--open {
    max-width: none;
    margin-left: 16px;
    margin-right: 16px; }
  .container--tight, .gallery__container {
    max-width: 500px;
    margin-left: auto;
    margin-right: auto; }

.profile {
  display: flex;
  text-decoration: none;
  color: inherit;
  align-items: center; }
  .profile__picture {
    width: 40px;
    overflow: hidden;
    margin-right: 20px;
    border: 1px solid #b4b4b4; }

.nav {
  position: fixed;
  top: 0;
  z-index: 10;
  width: 100%;
  height: 60px;
  background: linear-gradient(35deg, #ffc896, #ffb482);
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 16px;
  padding-right: 16px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.08), 0 1px 2px rgba(0, 0, 0, 0.17); }
  .nav > * {
    box-sizing: content-box;
    margin-left: 5.5px;
    margin-right: 5.5px; }
  .nav__logo {
    flex: auto; }
  .nav__searchbar {
    display: flex;
    flex-direction: row;
    background: whitesmoke;
    height: 40px;
    border-radius: 50px;
    padding: 0 16px; }
    .nav__searchbar__search {
      color: #ffc896;
      outline: none; }
    .nav__searchbar__bar {
      background: none;
      border: none;
      width: 0px;
      transition: all 0.2s;
      outline: none;
      margin: 0; }
    .nav__searchbar:hover .nav__searchbar__bar, .nav__searchbar__bar:focus, .nav__searchbar__bar:not(:placeholder-shown) {
      width: 100px;
      margin: 0 7px; }
  .nav__notification {
    color: whitesmoke;
    background: none;
    transition: all 0.1s; }
    .nav__notification:hover {
      background: whitesmoke;
      color: #ffc896; }
  .nav__profile {
    overflow: hidden;
    width: 40px;
    background: whitesmoke;
    box-shadow: 0 0 0 3px whitesmoke;
    transition: all 0.1s; }
    .nav__profile:hover {
      box-shadow: 0 0 0 0px whitesmoke; }

.gallery {
  width: 100%;
  margin-top: 60px;
  padding: 50px 0;
  background: whitesmoke; }
  .gallery__container > * {
    min-height: 40px;
    background: rgba(0, 0, 0, 0.1); }

.post {
  background: none;
  min-height: none;
  padding-left: 60px;
  padding-top: 20px;
  padding-bottom: 20px; }
  .post__head {
    margin-left: -60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #2d2d2d; }
    .post__head .profile__picture {
      transform: translateY(20px); }
    .post__head__like {
      padding: 10px;
      transition: all 0.1s; }
      .post__head__like:hover {
        color: #ffb482;
        transform: scale(1.2); }
      .post__head__like.--liked {
        color: #ffb482; }
  .post__content, .post__content--vid, .post__content--img, .post__content--text {
    display: block;
    margin: 5.5px 0;
    background: white;
    width: 100%;
    overflow: hidden;
    text-decoration: none;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.2s; }
  .post__content--text {
    padding: 16px; }
  .post__meta {
    color: #2d2d2d;
    padding: 5.5px 0;
    width: 100%;
    display: flex;
    font-size: 13px; }
    .post__meta__tags {
      flex: 1; }
      .post__meta__tags > * {
        display: inline;
        padding: 5.5px 7.5px;
        transition: all 0.1s;
        text-decoration: none; }
        .post__meta__tags > *:hover {
          background: white;
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.08), 0 1px 2px rgba(0, 0, 0, 0.17); }
    .post__meta__stats > * {
      display: inline;
      padding: 5.5px; }

.new-note {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: -24px;
  min-height: 0;
  background: none; }
  .new-note__message {
    display: block;
    padding: 5px 9px;
    font-size: 14px;
    color: #646464;
    border-radius: 40px;
    transition: all 0.1s; }
    .new-note__message:hover {
      background: white;
      box-shadow: 0 1px 3px rgba(0, 0, 0, 0.08), 0 1px 2px rgba(0, 0, 0, 0.17);
      color: #2d2d2d; }

/*# sourceMappingURL=style.css.map */
