
.layout {
  display: flex;
  align-items: center;

  // 2col with left expanded
  &--large-left {
    display: flex;
    align-items: center;
    & > *:nth-child(1) {
      flex: 1;
    }
  }

  // 2col with right expanded
  &--large-right {
    display: flex;
    align-items: center;
    & > *:nth-child(2) {
      flex: 1;
    }
  }

}

.container {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}
