.layout--large-left {
  display: flex;
  align-items: center; }
  .layout--large-left > *:nth-child(1) {
    flex: 1; }

.layout--large-right {
  display: flex;
  align-items: center; }
  .layout--large-right > *:nth-child(2) {
    flex: 1; }

.container {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto; }

.app {
  height: 100vh;
  overflow: hidden;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  background: #f9f9f9; }
  .app__page {
    overflow-y: auto;
    overflow-x: hidden;
    flex: 1; }
