.layout--large-left {
  display: flex;
  align-items: center; }
  .layout--large-left > *:nth-child(1) {
    flex: 1; }

.layout--large-right {
  display: flex;
  align-items: center; }
  .layout--large-right > *:nth-child(2) {
    flex: 1; }

.app {
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  background: #f9f9f9; }
  .app__page {
    overflow: auto;
    flex: 1; }
