.layout--large-left, .nav, .nav__side__top {
  display: flex;
  align-items: center; }
  .layout--large-left > *:nth-child(1), .nav > *:nth-child(1), .nav__side__top > *:nth-child(1) {
    flex: 1; }

.layout--large-right {
  display: flex;
  align-items: center; }
  .layout--large-right > *:nth-child(2) {
    flex: 1; }

.nav {
  flex-direction: column;
  height: 100vh;
  background: #28282b;
  color: #e6e6e6;
  padding: 10px 10px; }
  .nav__top a {
    text-decoration: none; }
  .nav__bottom__profile {
    width: 54px;
    border-radius: 5px;
    transition: all 0.17s;
    cursor: pointer; }
    .nav__bottom__profile:hover {
      box-shadow: 0 0 0 6px #0FA789; }
  .nav__side {
    background: #28282b;
    position: fixed;
    left: 74px;
    bottom: 0px;
    border-top-right-radius: 5px;
    max-height: 25vh;
    overflow: auto; }
    .nav__side__top {
      padding-left: 10px;
      border-bottom: 1px solid rgba(10, 10, 10, 0.2);
      margin-bottom: 5px;
      font-size: 12px;
      text-transform: uppercase;
      font-weight: bold; }
      .nav__side__top__exit {
        width: 20px;
        font-size: 14px;
        padding: 3px 0;
        text-align: center;
        margin: 5px;
        border-radius: 3px;
        cursor: pointer;
        transition: all 0.17s; }
        .nav__side__top__exit:hover {
          background: #1B9; }
    .nav__side__notification {
      font-size: 15px;
      padding: 10px;
      width: 300px; }
  .nav__bottom i, .nav__top i {
    color: #e6e6e6;
    font-size: 20px;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    padding: 15px;
    margin-bottom: 12px;
    display: block;
    border-radius: 5px;
    transition: all 0.17s; }
    .nav__bottom i:hover, .nav__top i:hover {
      background: #1B9;
      box-shadow: 0 0 0 5px #1B9; }
