.player {
  background: #ededed;
  display: flex;
  flex-direction: row;
  align-items: center; }
  .player__meta {
    padding: 13px 25px;
    text-transform: lowercase; }
  .player__seekBar {
    flex: 1;
    height: 4px;
    background: #f9f9f9;
    margin: 25px;
    cursor: pointer;
    display: flex;
    border-radius: 2px; }
    .player__seekBar__viewed {
      pointer-events: none;
      height: 100%;
      background: #FBB;
      width: 30%;
      border-radius: 2px; }
    .player__seekBar__button {
      pointer-events: none;
      width: 20px;
      height: 20px;
      margin-left: -10px;
      margin-top: -8px;
      border-radius: 50%;
      background: #FBB; }
  .player__controls {
    display: flex;
    align-items: center;
    padding: 0 25px; }
    .player__controls__button {
      width: 45px;
      height: 45px;
      border-radius: 50%;
      color: #f9f9f9;
      background: #1B9;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 5px;
      transition: background 0.17s; }
      .player__controls__button:hover {
        background: #0FA789; }
