.player {
  background: #eaeaea;
  display: flex;
  flex-direction: row;
  align-items: center; }
  .player__meta {
    padding: 5px 25px; }
  .player__controls {
    padding: 0 25px;
    display: flex;
    align-items: center; }
    .player__controls i {
      display: block;
      width: 50px;
      text-align: center;
      font-size: 25px;
      padding: 12.5px 0;
      margin: 5px;
      border-radius: 50px;
      background: #1B9;
      color: #f9f9f9;
      cursor: pointer;
      transition: background 0.17s; }
      .player__controls i:hover {
        background: #0FA789; }
      .player__controls i.fa-play {
        padding-left: 4px; }
