.button--prim {
  background: #1B9;
  color: #e6e6e6; }

.button--prim-alt, .player__meta {
  color: #e6e6e6;
  background: none;
  transition: background 0.17s; }
  .button--prim-alt:hover, .player__meta:hover {
    background: #1B9; }
  .button--prim-alt:active, .player__meta:active {
    background: #0FA789; }

.player {
  background: #444242;
  color: #e6e6e6;
  display: flex;
  z-index: 10;
  flex-direction: row;
  align-items: center; }
  .player__meta {
    padding: 13px 30px; }
    .player__meta p {
      font-size: 12px; }
  .player__seekBar {
    flex: 1;
    height: 4px;
    background: #343232;
    margin: 13px;
    display: flex;
    border-radius: 2px;
    cursor: pointer; }
    .player__seekBar__viewed {
      height: 100%;
      background: #0FA789;
      width: 0%;
      border-radius: 2px;
      transition: background 0.17s; }
    .player__seekBar__button {
      width: 12px;
      height: 12px;
      margin-left: -6px;
      margin-top: -4px;
      border-radius: 50%;
      background: #0FA789;
      cursor: pointer;
      transition: all 0.17s; }
    .player__seekBar:hover > .player__seekBar__viewed, .player__seekBar:hover > .player__seekBar__button {
      background: #1B9; }
  .player__controls {
    display: flex;
    align-items: center;
    padding: 0 30px; }
    .player__controls__button {
      width: 45px;
      height: 45px;
      border-radius: 50%;
      color: #e6e6e6;
      background: #0FA789;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 5px;
      transition: background 0.17s; }
      .player__controls__button:hover {
        background: #1B9; }
