.layout {
  display: flex;
  align-items: center; }
  .layout--large-left {
    display: flex;
    align-items: center; }
    .layout--large-left > *:nth-child(1) {
      flex: 1; }
  .layout--large-right {
    display: flex;
    align-items: center; }
    .layout--large-right > *:nth-child(2) {
      flex: 1; }

.container {
  display: block;
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 6px;
  padding-right: 6px; }

.section {
  padding-top: 19px;
  padding-bottom: 19px; }

.page-Home {
  background: #1B9;
  min-height: 100%;
  width: 100%; }
  .page-Home__header {
    padding: 13px;
    background: #444242;
    color: #e6e6e6;
    text-align: center;
    position: fixed;
    border-bottom-right-radius: 3px; }
  .page-Home__post {
    height: 110px;
    width: 100%;
    background: linear-gradient(25deg, #1B9, #0FA789);
    display: flex;
    align-items: center;
    justify-content: center;
    color: #444242;
    cursor: pointer;
    transition: all 0.17s; }
    .page-Home__post.--selected {
      background: #FAA; }
      .page-Home__post.--selected:hover {
        background: #FAA; }
    .page-Home__post:hover {
      background: #1B9; }
    .page-Home__post__info {
      display: block;
      max-width: 800px; }
