.layout--large-left {
  display: flex;
  align-items: center; }
  .layout--large-left > *:nth-child(1) {
    flex: 1; }

.layout--large-right {
  display: flex;
  align-items: center; }
  .layout--large-right > *:nth-child(2) {
    flex: 1; }

.container, .page-Home__container {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto; }

.page-Home {
  background: #0FA789;
  min-height: 100%;
  width: 100%;
  overflow-x: hidden; }
  .page-Home:before {
    content: "home";
    color: #1B9;
    font-weight: bolder;
    display: block;
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: absolute;
    letter-spacing: -2.4vw;
    font-size: 29vw;
    z-index: 0;
    pointer-events: none; }
  .page-Home__container {
    padding: 30px 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;
    position: relative;
    z-index: 5; }
    .page-Home__container__section {
      padding: 30px;
      display: flex;
      cursor: pointer; }
      .page-Home__container__section__post {
        height: 220px;
        width: 220px;
        background: #FBB;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #464648;
        transition: all 0.17s; }
        .page-Home__container__section__post:hover {
          background: #FAA;
          transform: scale(1.01); }
