.layout {
  display: flex;
  align-items: center; }
  .layout--large-left {
    display: flex;
    align-items: center; }
    .layout--large-left > *:nth-child(1) {
      flex: 1; }
  .layout--large-right {
    display: flex;
    align-items: center; }
    .layout--large-right > *:nth-child(2) {
      flex: 1; }

.container, .page-Song__container {
  display: block;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 6px;
  padding-right: 6px; }

.section {
  padding-top: 19px;
  padding-bottom: 19px; }

.page-Song {
  min-height: 100%;
  background: #0FA789; }
  .page-Song__container__title h1 {
    font-size: 250px;
    letter-spacing: -15px;
    line-height: 230px; }
  .page-Song__container__title h2 {
    font-size: 27px; }
  .page-Song__container__comments {
    padding: 30px 0; }
    .page-Song__container__comments__comment {
      background: white; }
