@keyframes pop-up {
  0% {
    transform: translateY($size-300);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes pop-down {
  0% {
    transform: translateY(-1 * $size-300);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
