.--bttn, button {
  background: none;
  border: none;
  cursor: pointer;
  display: block;
  text-decoration: none;

  &.--tag {
    display: inline;
    font-size: 14px;
    padding: $padding-sm;
    border-radius: $border-radius;
    transition: all $trans-sm;

    &:before {
      content: "#";
    }

    &:hover {
      background: $color-prim;
    }
  }

}
