.--bttn, button {
  background: none;
  border: none;
  cursor: pointer;
  display: block;
  text-decoration: none;

  // a 'tag' button
  &.--tag {
    display: inline;
    font-size: 14px;
    padding: $padding-sm;
    border-radius: $border-radius;
    transition: all $trans-sm;

    &:before {
      content: "#";
    }

    &:hover {
      background: $color-prim;
    }
  }

  // a primary button
  &.--prim {
    background: $mono-light;
    color: $mono-dark;
    padding: $padding-sm $padding-md;
    border-radius: $border-radius;
    transition: all $trans-sm;
    &:hover {
      background: $color-prim;
      color: $mono-light;
    }
  }

}
