.--bttn, button {
  background: none;
  border: none;
  cursor: pointer;
  display: block;
  text-decoration: none;
  transition: all $trans-sm;

  // a navbar button
  &.--nav {
    font-size: $size-navicons;
    padding: $padding-xl; // lots of padding for these bois
    &:hover { // icon hover state
      color: $color-prim;
    }
  }

  // a button with cool hover shadow
  &.--hover-shadow {
    box-shadow: 0px 0px 0px 0px $mono-disabled;
    &:hover {
      box-shadow: 0px 0px 0px $padding-md $mono-disabled;
    }
  }

}
