.--icon {
  color: $mono-dark;
  font-size: 18px;
  line-height: 17px;
  text-align: center;
  padding: $padding-lg;
  // height: $size-nav - 2px;
  display: block;
  transition: all $trans-sm;

  &.--nav {
    @extend .--bttn;
    color: $mono-light;
    &:hover {
      color: $mono-lighter;
      background: $color-prim;
    }

    &.--active {
      background: $mono-dark;
      &:hover {
        background: $color-prim;
      }
    }
  }

}
