.--layout {
  
  // 2 col with left expanded
  &.--large-left {
    display: flex;
    flex-direction: row;
    align-items: center;
    & > *:nth-child(1) {
      flex: 1; // make left take up all space
    }
  }

  // 2 col with right expanded
  // can also technically be used as 3 col with center expanded
  &.--large-right {
    display: flex;
    flex-direction: row;
    align-items: center;
    & > *:nth-child(2) {
      flex: 1;
    }
  }

}
