// html structure should look like:
// <a class="profile" href="#user">
//   <img src="resources/profile.jpg" alt="profile" class="profile__picture">
//   <div class="profile__info">
//     <h5>Mikolaj Figurski</h5>
//     <h6>posted: 2 hours ago</h6>
//   </div>
// </a>

.profile {
  @extend .--layout,.--large-right;
  text-decoration: none;
  color: inherit;

  &__picture {
    @extend .--bttn;
    width: $size-userimg;
    height: $size-userimg;
    // border-radius: $border-radius;
    border-radius: $size-userimg; //circle
    overflow: hidden;
    margin-right: $padding-md;
  }

  &__info {
    
  }

}
