.profile {
  display: flex;
  text-decoration: none;
  color: inherit;
  align-items: center;

  &__picture {
    @extend .bttn--round;
    width: $size-200;
    overflow: hidden;
    margin-right: $size-100;
    border: 1px solid $mono-400;
  }

}
