// html structure should look like this:
// <div class="comment">
//   <div class="comment__head">
//     <img src="resources/profile.jpg" alt="profile">
//     <h5>Tom Smith</h5>
//   </div>
//   <p>Great post! Appreciate your effort!</p>
// </div>

.comment {
  border-top: 1px solid $mono-darker;
  padding: $padding-md;
  background: $mono-dark;
  color: $mono-light;
  // box-shadow: $shadow-100;

  &:last-of-type { // give last one some border-radius and margin
    margin-bottom: $padding-md;
    padding-bottom: $padding-lg;
    border-bottom-left-radius: $border-radius-sm;
    border-bottom-right-radius: $border-radius-sm;
  }


  &__head {
    @extend .--layout, .--large-right;
    padding-bottom: $padding-md;
    & > img {
      width: $size-userimg - 5px;
      border-radius: $border-radius-xs;
      margin-right: $padding-md;
    }

  }
}
