.footer {
  @extend .container;
  padding-bottom: $size-200;
  text-align: center;
  color: $mono-500;

  &__title {
    padding: $space-padding-sm;
  }

  &__links {
    display: flex;
    justify-content: center;
    & > * {
      display: block;
      padding: $space-padding-sm;
      font-weight: bold;
      font-size: 11px;

    }
  }

  &__copywrite {
    padding: $space-padding-sm;
  }
}
