.gallery {
  background: $mono-darker;
  display: grid;
  grid-template-rows: 100vh;
  grid-template-columns: 3fr auto 2fr;

  &__controls {
    // background: red;
    height: 100vh;
    grid-column: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &__panel {
      padding: $padding-sm;
      position: fixed;
      // width: 200px;

      &__option {
        @extend .--bttn;
        font-size: 15px;
        text-align: right;
        padding: $padding-sm;
        border-top-left-radius: $border-radius;
        border-bottom-left-radius: $border-radius;
        border-right: $size-border solid transparent;
        transition: all $trans-sm;
        &:hover {
          background: $color-prim;
          // color: $mono-dark;
        }

        &.--active {
          // font-weight: bold;
          border-right-color: $color-prim;
        }
      }
    }
  }

  &__container {
    @extend .--container;
    width: $size-container;
    display: grid;
    grid-template-columns: 3fr 2fr;
    grid-gap: $padding-xl + 5px;
    background: none;

    &__posts {
      min-height: 100vh;
      // background: $color-sec;
    }

    &__comments {
      // position: fixed;
      height: 100%;
      width: 100%;
      // height: 100%;
      margin-top: $padding-sm;
      background: $mono-dark;
    }
  }

}
