.gallery {
  width: 100%;
  margin-top: $size-400;
  padding: $size-300 0;
  background: $mono-100;

  &__container {
    @extend .container--tight;
    // background: $mono-200;
    // display: grid;
    // grid-template-columns: 1fr;
    // grid-gap: $size-100;

    & > * { // all 'articles' in gallery...
      min-height: $size-200;
      background: $mono-shade;
    }
  }
}
