// html structure looks like this:
// <nav class="nav">
//   <div class="nav__slider">
//   </div>
// </nav>

.nav {
  background: $color-prim;
  height: 100vh;
  width: $size-nav;
  // padding-bottom: $padding-sm;

  .nav__slider {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 10;
    @extend .--layout.--large-right; // use as 3 col with large center
    flex-direction: column;
  }

}
