.nav {
  position: fixed;
  top: 0;
  z-index: 10;
  width: 100%;
  height: $size-400;
  background: $grad-prim;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: $space-padding-med;
  padding-right: $space-padding-med;
  box-shadow: $shadow-100;

  & > * { // all children... margin
    box-sizing: content-box;
    margin-left: $space-padding-sm;
    margin-right: $space-padding-sm;
  }

  // nav's logo
  &__logo {
    color: $mono-100;
    flex: auto;
  }

  // nav's searchbar
  &__searchbar {
    display: flex;
    flex-direction: row;
    background: $mono-100;
    height: $size-200;
    border-radius: 50px;
    padding: 0 $space-padding-med;

    // searbar's search button
    &__search {
      @extend .bttn;
      color: $color-prim;
      outline: none;
    }

    // searchbar's actual bar part
    &__bar {
      background: none;
      border: none;
      width: 0px;
      transition: all $transtime;
      outline: none;
      margin: 0;
    }
    // expand the bar on hover, focus, or typed text...
    &:hover &__bar, &__bar:focus, &__bar:not(:placeholder-shown) {
      width: 100px;
      margin: 0 7px;
    }


  }

  // nav's notification button
  &__notification {
    @extend .bttn--round;
    // width: $size-200;
    color: $mono-100;
    background: none;
    transition: all $transtime-bg;
    &:hover {
      background: $mono-100;
      color: $color-prim;
    }
  }

  // nav's profile button
  &__profile {
    @extend .bttn--round;
    overflow: hidden;
    width: $size-200;
    background: $mono-100;
    box-shadow: 0 0 0 3px $mono-100;
    transition: all $transtime-bg;
    &:hover {
      box-shadow: 0 0 0 0px $mono-100;
    }
  }
}
