// html structure should look like this: TODO

.slider {
  min-height: 100vh;
  width: 100vw;
  overflow: hidden;

  &__controls {
    height: 0; // minimize
    width: 0;

    // arrows
    &__arrow {
      @extend .--bttn;
      position: fixed; // position
      z-index: 8; // below nav
      top: 0;
      height: 100vh; // size
      display: flex; // center
      flex: column;
      justify-content: center;
      align-items: center;

      // actual icon
      & > i {
        font-size: $size-arrowbuttons;
        padding: $padding-md;
        margin-bottom: $padding-xl; // move it up a bit
        width: $size-arrowbuttons + 2 * $padding-md;
        text-align: center;
        transition: all $trans-sm;
      }
      // icon's larger hover state
      &:hover > i {
        color: $color-prim;
	      transform: scale(1.1);
      }

      &.--left {
        left: 0;
      }
      &.--right {
        right: 0;
      }
    }

  }

  &__slides {
    width: 300vw;
    // height: 100vh;
    overflow-x: hidden;
    // overflow-y: hidden; //TODO
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(3, 100vw); // repeat specific amount of times?
    transition: all $trans-lg;

    &__single-slide {
      display: block;
      height: 100vh;

    }
  }

}
