// html structure should look like this:
// <div class="slider">
//   <div class="slider__controls">
//     <div class="slider__controls__arrow --left" onclick="slideLeft()"><i class="fas fa-angle-left"></i></div>
//     <div class="slider__controls__arrow --right" onclick="slideRight()"><i class="fas fa-angle-right"></i></div>
//   </div>
//   <div class="slider__slides">
//     <div class="slider__slides__single-slide">
//       A
//     </div>
//     <div class="slider__slides__single-slide">
//       B
//     </div>
//     <div class="slider__slides__single-slide">
//       C
//     </div>
//   </div>
// </div>

.slider {
  min-height: 100vh;
  width: 100vw;
  overflow: hidden;

  &__controls {
    height: 0; // minimize
    width: 0;

    // arrows
    &__arrow {
      @extend .--bttn;
      position: fixed; // position
      z-index: 8; // below nav
      top: 0;
      height: 100vh; // size
      display: flex; // center
      flex: column;
      justify-content: center;
      align-items: center;

      // actual icon
      & > i {
        font-size: $size-arrowbuttons;
        padding: $padding-md;
        margin-bottom: $padding-xl; // move it up a bit
        width: $size-arrowbuttons + 2 * $padding-md;
        text-align: center;
        transition: all $trans-sm;
      }
      // icon's larger hover state
      &:hover > i {
        color: $color-prim;
	      transform: scale(1.1);
      }

      &.--left {
        left: 0;
      }
      &.--right {
        right: 0;
      }
    }

  }

  &__slides {
    width: 300vw;
    overflow-x: hidden;
    // overflow-y: hidden;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(3, 100vw); // repeat specific amount of times?
    transition: all $trans-lg;

    &__single-slide {
      display: block;
      // padding-left: $size-arrowbuttons + 3 * $padding-md;
      padding-right: $size-arrowbuttons + 3 * $padding-md + 14px; // this needs to be bigger cuz scrollbar...
    }
  }

}
