@import '../vars.scss';
@import '../layout.scss';

.app {
  height: 100vh;
  overflow: hidden;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  background: $mono-light;

  &__page { // make only the app__page elem scroll
    overflow-y: auto;
    overflow-x: hidden;
    flex: 1; //make page take up all remaining space...
  }
}
