@import '../vars.scss';
@import '../layout.scss';

.app {
  @extend .layout--large-right;
  align-items: flex-start;

  height: 100vh;
  overflow: hidden;

  &__page { // make only the app__page elem scroll
    height: 100vh;
    overflow: auto;
  }
}
