@import 'https://use.fontawesome.com/releases/v5.7.1/css/all.css';
@import '../vars.scss';

// @font-face {
//   font-family: 'Infinity';
//   src: url('./public/resources/Infinity.ttf');
// }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  color: $mono-dark;
  font-family: sans-serif;
}

a {
  color: inherit;
  text-decoration: inherit;
}

img, video {
  width: 100%;
  height: auto;
  display: block;
}
