@import 'https://use.fontawesome.com/releases/v5.7.1/css/all.css';
@import '../vars.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  color: $mono-dark;
  font-family: 'Montserrat', sans-serif;
}

img, video {
  width: 100%;
  height: auto;
  display: block;
}
