@import '../vars.scss';
@import '../layout.scss';
@import '../buttons.scss';

.nav {

  &__bar {
    background: $mono-dark;
    padding: $padding-sm;
    color: $mono-lightless;
    font-size: 20px;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;

    &__option {
      @extend .button--prim-alt;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 3px 0;
    }

  }


  &__aside {
    position: absolute;
    left: 40px + 2*$padding-sm; // 50px
    padding: 0 $padding-sm;
    transition: transform $time-md;
    // transform: translateY(10px);

    &__wrapper {
      background: $mono-dark;
      color: $mono-lightless;
      border-radius: 6px;

      // head of nav submenus
      &__head {
        padding: 2*$padding-sm $padding-md;
      }
      &__head:not(:last-child) {
        border-bottom: 1px solid $mono-darkless;
      }

      // NOTE: All stylings of nav menus will end up in NavMenus.scss

    }
  }
}
