@import '../vars.scss';
@import '../layout.scss';

.nav {
  @extend .layout--large-left;
  flex-direction: column;

  height: 100vh;
  background: $mono-dark;
  color: $mono-light;
  padding: $padding-md 2*$padding-sm;

  // top section
  &__top {
    & a {
      text-decoration: none;
    }
  }
  // bottom section
  &__bottom {
    // profile img
    &__profile {
      width: 54px;
      border-radius: 5px;
      transition: all $time-md;
      cursor: pointer;
      &:hover {
        box-shadow: 0 0 0 $padding-sm+1px $color-prim-dark;
      }
    }
  }

  // side window (if exists)
  &__side {
    background: $mono-dark;
    position: fixed;
    left: 74px;
    bottom: 0px;
    border-top-right-radius: 5px;
    max-height: 25vh;
    overflow: auto;

    &__top {
      @extend .layout--large-left;
      padding-left: $padding-md;
      border-bottom: 1px solid $shade-dark;
      margin-bottom: $padding-sm;
      font-size: 12px;
      text-transform: uppercase;
      font-weight: bold;

      &__exit {
        padding: $padding-md;
        cursor: pointer;
        transition: all $time-md;
        &:hover {
          background: $color-prim;
        }
      }
    }

    &__notification {
      font-size: 15px;
      padding: $padding-md;
      width: 300px;
    }

  }

  // all icons in the navbar
  &__bottom i, &__top i {
    color: $mono-light;
    font-size: 20px;
    text-decoration: none;
    text-align: center;
    cursor: pointer;

    padding: 15px;
    margin-bottom: 12px; // margin must cover 4px shadow
    display: block;
    border-radius: 5px;
    transition: all $time-md;
    &:hover {
      background: $color-prim;
      box-shadow: 0 0 0 $padding-sm $color-prim;
    }
  }


}
