@import '../vars.scss';

.player {
  background: $mono-darkless;
  color: $mono-lightless;
  display: flex;
  z-index: 10;
  flex-direction: row;
  align-items: center;

  &__meta {
    padding: $padding-md $padding-lg;
    transition: all $time-md;
    & p {
      font-size: 12px;
    }
    &:hover {
      background: $color-prim;
      // color: $mono-darkless;
    }
  }

  &__seekBar {
    flex: 1;
    height: 4px;
    background: $mono-dark;
    margin: $padding-md;
    display: flex;
    border-radius: 2px;
    cursor: pointer;
    &__viewed {
      height: 100%;
      background: $color-prim-dark;
      width: 0%; // change this (from 0% to 100%) to progress 'viewed'
      border-radius: 2px;
      transition: background $time-md;
    }
    &__button {
      width: 12px;
      height: 12px;
      margin-left: -6px;
      margin-top: -4px;
      border-radius: 50%;
      background: $color-prim-dark;
      cursor: pointer;
      transition: all $time-md;
    }

    &:hover > &__viewed, &:hover > &__button {
      background: $color-prim;
    }
  }

  &__controls {
    display: flex;
    align-items: center;
    padding: 0 $padding-lg;
    &__button {
      width: 45px; // make a circle
      height: 45px;
      border-radius: 50%;
      color: $mono-lightless;
      background: $color-prim-dark;
      display: flex; // center icons...
      justify-content: center;
      align-items: center;
      margin: $padding-sm; // spacing
      transition: background $time-md;
      &:hover {
        background: $color-prim;
      }
    }
  }
}
